.LandingPage {
  .welcome-back-row {
    text-align: right;

    button {
      margin-left: 10px;
    }
  }

  text-align: center;

  .input-room-code {
    font-size: 18px;
    margin-right: 20px;
    min-width: 200px;
    text-align: center;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .new-room-code {
    font-family: monospace;
    font-size: 36px;
    background-color: black;
    color: yellow;
    padding: 8px;
    text-transform: capitalize;
  }

  .game-type-label {
    text-align: left;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
  }
}